# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
.next/cache/
/out/

# production
/build

# misc
.DS_Store
Thumbs.db
*.pem
*.key
*.crt
*.log
*.tmp
*.swp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (ignore all except .env.example)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# cache
.eslintcache
.parcel-cache
.turbo/
.cache/

# editor-specific files
.idea/
.vscode/

# docker
.dockerignore
docker-compose.override.yml

# others
.firebase/
.terraform/
