{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-prisma"
  ],
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
